@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-very-light text-black-basic text-2xl;
  font-family: var(--font-primary);
}
.button {
  @apply bg-ocean-basic text-white-basic text-xl font-bold block w-max py-2 px-6 rounded-full hover:bg-ocean-dark;
}

.container {
  @apply flex flex-col min-h-screen min-w-full;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
}
